<div>
    <h1>En desarrollo home</h1>

</div>

{{!-- Traigo dos scripts que hacen referencia al uso de sockets--}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

{{!--Para poder usar Sweetalert--}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>