<div>
    <h1>Bienvenido: <span id="myName"> </span></h1>


    <div>
        <h2>Para ingresar un producto debe completar el siguiente formulario:</h2>
        <form id="productBox">

            <label for="title">Titulo: </label>
            <input type="text" id="title" alt="Introduce un Titulo para el producto">
            <label for="description">Descripción: </label>
            <input type="text" id="description" alt="Introduce una Descripción para el producto">
            <label for="code">Codigo: </label>
            <input type="text" id="code" alt="Introduce un Códgio para el producto">
            <label for="price">Precio: </label>
            <input type="number" id="price" alt="Introduce un Precio para el producto">
            <label for="stock">Stock: </label>
            <input type="number" id="stock" alt="Introduce cuanto Stock tiene el producto">
            <label for="category">Categoría: </label>
            <input type="text" id="category" alt="Introduce una Categoría para el producto">

            <input type="submit" id="createProduct">
            
        </form>

        <button id="closeProductBox"> Cerrar </button>
    </div>

    {{!--Renderizar los productos--}}    
    <div>
        <p id="productsLog"></p>
    </div>

</div>



{{!--Para poder usar Sweetalert--}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{{!-- Traigo dos scripts que hacen referencia al uso de sockets--}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
