<div></div>
    <h1>Iniciar Sesión</h1>
    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Iniciar Sesión</button>
        <a href="/register"> <button type="button">Registrarme</button> </a>
    </form>
</div>